In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# upload file
df = pd.read_csv('mnist_test.csv')
df
df.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
9995,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
zero = df[df.label==0]
zero.reset_index(drop=True,inplace=True)
zero.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
975,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
976,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
978,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
one = df[df.label==1]
one.reset_index(drop=True, inplace=True)
one.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
1130,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1131,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1132,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1133,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1134,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
two=df[df.label==2]
two.reset_index(drop=True, inplace=True)
two.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
1027,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1028,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1029,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1030,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1031,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
three=df[df.label==3]
three.reset_index(drop=True, inplace=True)
three.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
1005,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1006,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1007,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1008,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1009,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
four=df[df.label==4]
four.reset_index(drop=True, inplace=True)
four.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
977,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
978,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
979,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
980,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
981,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
five=df[df.label==5]
five.reset_index(drop=True, inplace=True)
five.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
887,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
888,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
889,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
890,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
891,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
six=df[df.label==6]
six.reset_index(drop=True, inplace=True)
six.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
953,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
954,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
955,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
956,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
957,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
seven=df[df.label==7]
seven.reset_index(drop=True, inplace=True)
seven.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
1023,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1024,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1025,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1026,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1027,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
eight=df[df.label==8]
eight.reset_index(drop=True, inplace=True)
eight.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
969,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
970,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
971,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
972,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
973,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
nine=df[df.label==9]
nine.reset_index(drop=True, inplace=True)
nine.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
1004,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1005,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1006,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1007,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1008,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
print("zero =", zero.shape)
print("one =",one.shape)
print("two =",two.shape)
print("three =",three.shape)
print("four =",four.shape)
print("five =",five.shape)
print("six =",six.shape)
print("seven =",seven.shape)
print("eight =",eight.shape)
print("nine =",nine.shape)

zero = (980, 785)
one = (1135, 785)
two = (1032, 785)
three = (1010, 785)
four = (982, 785)
five = (892, 785)
six = (958, 785)
seven = (1028, 785)
eight = (974, 785)
nine = (1009, 785)

In [108]:
zero_train =zero.loc[197:979]
zero_test = zero.loc[0:196]

In [109]:
one_test = one.loc[0:277]
one_train = one.loc[278:1134]

In [110]:
two_test = two.loc[0:207]
two_train = two.loc[208:1031]

In [111]:
three_test = three.loc[0:202]
three_train = three.loc[203:1009]

In [112]:
four_test = four.loc[0:186]
four_train = four.loc[187:981]

In [113]:
five_test = five.loc[0:179]
five_train = five.loc[180:891]

In [114]:
six_test = six.loc[0:192]
six_train = six.loc[192:957]

In [115]:
seven_test = seven.loc[0:206]
seven_train = seven.loc[207:1027]

In [116]:
eight_test = eight.loc[0:195]
eight_train = eight.loc[196:973]

In [103]:
nine_test = nine.loc[0:202]
nine_train = nine.loc[203:1008]

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
960,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
966,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
978,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
z.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
972,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
669,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
302,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
776,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
829,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [87]:
y.tail()
y.reset_index(drop=True,inplace=True)
y.shape

(196, 785)

In [88]:
y.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
y.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
191,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
192,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
194,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [90]:
z.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
z.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
779,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
780,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
781,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
782,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
zero.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
975,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
976,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
978,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [122]:
train_data = pd.concat([zero_train, one_train,two_train,three_train,four_train,five_train,six_train,seven_train,eight_train,nine_train])

In [125]:
train_data.tail()
train_data.reset_index(drop=True,inplace=True)

In [126]:
train_data

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
7944,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7945,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7946,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7947,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7948,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [127]:
test_data = pd.concat([zero_test, one_test,two_test,three_test,four_test,five_test,six_test,seven_test,eight_test,nine_test])

In [130]:
test_data
test_data.reset_index(drop=True,inplace=True)

In [133]:
print("test data =" ,test_data.shape)
print("train data =" ,train_data.shape)

test data = (2052, 785)
train data = (7949, 785)